.menu{
    position: fixed;
    height:100%;
    top:0px;
    left:0px;
}

body{
    background-color: #f8f8f8;
    color: rgb(34, 34, 34);
    font-size: 16px;
}


.contentBody >:last-child >div{
    display: flex;
    flex-direction: column ;
    gap:10px;
}

.contentBody img.full, .contentBody video.full{
    max-width: 100% ;
}
.contentBody img.small, .contentBody video.small{
    max-width: 200px;
    max-height: 400px;
}
.contentBody img.small, .contentBody video.small{
    max-width: 300px;
}

.open-menu-button{
    width: 25px;
    height: 25px;
    overflow: hidden;
    padding: 2px;
    color:transparent
}
.open-menu-button:hover{
    width: auto;
    color: white;
}

body:has(.open-menu-button.clicked) .site-title{
    display: none;
}


body:has(.open-menu-button.clicked) .contentBody{
    transform: translateX(0%); 
}
.yearlyGridPreview::-webkit-scrollbar {
    display: none;
}
.yearlyGridPreview > :last-child{
    padding-bottom: 100px;
}



@media only screen and (max-width: 1400px){
    .menu {
        position:static;
        align-items: center;
    }
    .yearlyGridPreview{
        align-items: center;

    }
    .contentBody{
        transform: translateX(0%) !important; 
    }

}


/* for main page*/
body:has(.page) .menu{
        position:static;
        align-items: center;
}
body:has(.page) .yearlyGridPreview{
    align-items: center;

}
body:has(.page) .contentBody{
    transform: translateX(0%) !important; 
}

body:has(.page) .thumbnail{
    height: 250px;
}

.focusModeButton:hover::after{
    content: "Focus Mode";
    position: absolute;
    font-size: small;
    font-weight: bolder;
    color: rgb(122, 122, 122);
    font-family: sans-serif;
    top:-100%;
    right:-50%;
    padding: 2px;
    width: 200%;
    text-align: center;
}