.menu{
    position: fixed;
    height:100%;
    top:0px;
    left:0px;
}

.contentBody{
    transition: all .2s ;
    /*padding : 100px 10px;*/
    max-width: 1100px;
    width:100%;
    min-height: 100vh;
    transform: translateX(250px);
    place-self: center;
    margin-top: 100px;
    margin-bottom: 100px;

}
.contentBody >:last-child >div{
    display: flex;
    flex-direction: column ;
    gap:10px;
    align-items: center;
}
.contentBody ul{
    margin-top: 100px;
} 
.contentBody img, .contentBody video{
    max-width: 500px;
    margin: 20px
}
.contentBody img.full, .contentBody video.full{
    max-width: 100% ;
}
.contentBody img.small, .contentBody video.small{
    max-width: 300px;
}
.open-target{
    transition: all .2s;
}

.open-menu-button{
    width: 25px;
    height: 25px;
    overflow: hidden;
    padding: 2px;
    color:transparent
}
.open-menu-button:hover{
    width: auto;
    color: white;
}

body:has(.open-menu-button.clicked) .site-title{
    display: none;
}

body:has(.open-menu-button.clicked) .open-target{
    transform: translateX(-100%); 
    opacity: 0%;
    pointer-events: none;
}
body:has(.open-menu-button.clicked) .contentBody{
    transform: translateX(0%); 
}
.yearlyGridPreview::-webkit-scrollbar {
    display: none;
}
.yearlyGridPreview > :last-child{
    padding-bottom: 100px;
}


@media only screen and (max-width: 2000px) {

}

@media only screen and (max-width: 1200px) {
    .menu {
        width:100%;
        margin:1px !important;
        position:static;
    }
        .contentBody{
    transform: translateX(0%) !important; 

    }

}