
.project-timeline{
    height:500px;
    position: relative;

}

.project-preview {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height:33%;
    overflow: hidden;

    *{
        transition:all .2s;
    }

    div {
        pointer-events: all;
        height:-webkit-fill-available;
        margin:4px; 
        overflow: hidden;


        img , video {
            max-height : -webkit-fill-available; 
            height:auto; 
            max-width:unset;
        }
    }
}

.project-preview:hover{
    z-index: 9;

    div{
        width:200px !important;
    }
    img , video {
        margin: 0%; 
    }
}

.project-preview:hover::after{
    position: absolute;
    content:attr(title);
    background:grey;
    border-radius: 5px;
    padding:2px 5px;
    color:white;
    font-size: 12px;
    transform: translateX(100%);
}


