#Menu{
    position: fixed;
    justify-content: center;
    display: flex;
    top: 50%;
    left: 50%;
    transform : translate(-50% ,-50%);
    flex-direction: column;
    text-align: center;
    z-index: 1;
}
#Menu ul{
    font-size: 22px;
    opacity: .25;
    transition: all .5s; 
    cursor: pointer;
    padding: 2px;
    margin: 10px;

}
#Menu ul.selected{
    opacity: 1;
    font-size: 40px;
    margin:20px;
    pointer-events: none;
    background-color: white;
}
